.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --main-color: #212121;
  --secondary-color: #2196f3;
  --tertiary-color: #ffffff;
  --quaternary-color: #2f303a;
  --quinary-color: #ECECEC;
  --senary-color: #f5f4fa;
  --septenary-color: #757575;
  --octonary-color: #EEEEEE;
  --nonary-color: #AFB1B8;
}

body {
  font-family: var(--main-font);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .container {
    width: 480px;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    align-items: center;
  }
}
.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  padding-top: 16px;
  padding-bottom: 16px;
}
.logo__span {
  color: var(--secondary-color);
}
.logo--light-theme {
  color: var(--main-color);
  background-color: var(--tertiary-color);
}
.logo--dark-theme {
  color: var(--tertiary-color);
  background-color: var(--quaternary-color);
}

@media screen and (min-width: 768px) {
  .logo {
    padding-top: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.192;
  }
}
.main-header {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.176;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

@media screen and (min-width: 1200px) {
  .main-header {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.667;
  }
}
.menu-btn .modal {
  width: 480px;
  min-height: 796px;
}

.mobile-navigation-list {
  display: block;
}

.mobile-navigation-item:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-navigation-item:last-child {
  margin-bottom: 306px;
}

.mobile-navigation__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--main-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-navigation__link:hover, .mobile-navigation__link:focus {
  color: var(--secondary-color);
}

.mobile-contact-list {
  display: block;
}

.mobile-contact-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-contact-phone {
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.mobile-contact-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: var(--septenary-color);
}

.mobile-social-list {
  display: flex;
  margin-top: 64px;
}

.mobile-social-item:not(:last-child) {
  margin-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mobile-social-item .mobile-social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.222;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  padding-right: 10px;
}

.modal-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  padding-left: 42px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--tertiary-color);
  cursor: pointer;
  background-color: var(--secondary-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .modal-btn {
    padding-left: -42px;
  }
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  min-height: 609px;
  background-color: var(--tertiary-color);
  padding: 40px;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.close-btn {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  cursor: pointer;
}

.close-btn-icon__menu {
  display: flex;
  position: absolute;
  right: 25px;
  top: 21px;
  width: 18px;
  height: 18px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.close-btn-icon__menu:hover, .close-btn-icon__menu:focus {
  color: var(--secondary-color);
}

.modal__header {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  padding-bottom: 12px;
}

.modal__form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.667;
  letter-spacing: 0.01em;
  color: var(--septenary-color);
}

.modal__form-box {
  display: block;
  position: relative;
  margin-top: 4px;
  margin-bottom: 10px;
}

.modal__form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__form-input:focus {
  outline: none;
  border-color: var(--secondary-color);
}

.modal__form-input-icon {
  position: absolute;
  top: 14px;
  left: 15px;
  width: 12px;
  height: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-input:focus + .modal__form-input-icon {
  fill: var(--secondary-color);
}

.modal__form-input-feedback {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__form-input-feedback:focus {
  outline: none;
  border-color: var(--secondary-color);
}
.modal__form-input-feedback::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__form-policy {
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 14px;
}

.modal__form-policy-text {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--septenary-color);
}
.modal__form-policy-text::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 16px;
  border: 2px solid var(--main-color);
  border-radius: 2px;
}

.modal__form-policy-input:checked + .modal__form-policy-text::before {
  background-image: url(../images/Vector.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  background-color: var(--secondary-color);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.rules-policy {
  color: var(--secondary-color);
}

.form__btn {
  display: block;
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--tertiary-color);
  background: var(--secondary-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 480px;
    min-height: 796px;
  }
  .close-btn-icon {
    width: 18px;
    height: 18px;
  }
  .close-btn-icon__menu {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}
.secondary-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  align-items: center;
  justify-content: center;
  color: var(--tertiary-color);
}

.social__list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 32px 18px;
}

.social__link {
  display: flex;
  width: 44px;
  height: 44px;
  fill: var(--nonary-color);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  fill: var(--tertiary-color);
  background-color: var(--secondary-color);
}

.social__icon {
  width: 20px;
  height: 20px;
}

@media screen and (min-width: 768px) {
  .social__list {
    display: flex;
    padding: 16px 32px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .social__list {
    justify-content: space-between;
    padding: 16px 32px 18px;
  }
}
.header {
  border-bottom: 1px solid var(--quinary-color);
}

.header .container {
  display: flex;
}

.navigation {
  display: flex;
}

.navigation__list,
.mailto,
.phone {
  display: none;
}

.menu-btn {
  margin-left: auto;
  margin-right: -15px;
  border: none;
  background-color: transparent;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-btn:hover, .menu-btn:focus {
  fill: var(--secondary-color);
  cursor: pointer;
}

.navigation__link {
  color: var(--main-color);
}

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
  .header .logo {
    padding: 26px 0;
    margin-right: 83px;
    align-items: center;
  }
  .navigation__list {
    display: flex;
    align-items: center;
  }
  .mailto,
  .phone {
    display: block;
    justify-content: center;
    align-items: center;
  }
  .navigation__item {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .navigation__item:not(:last-child) {
    margin-right: 60px;
  }
  .navigation__link,
  .mailto,
  .phone {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation__link:hover, .navigation__link:focus,
  .mailto:hover,
  .mailto:focus,
  .phone:hover,
  .phone:focus {
    fill: var(--secondary-color);
    color: var(--secondary-color);
  }
  .navigation__link {
    color: var(--main-color);
  }
  .header-contact {
    margin-left: auto;
    margin-right: 15px;
  }
  .mailto,
  .phone {
    font-size: 12px;
    line-height: 1.667;
    color: var(--septenary-color);
  }
  .mailto:hover, .mailto:focus,
  .phone:hover,
  .phone:focus {
    color: var(--secondary-color);
  }
  .mailto {
    margin-left: auto;
  }
  .mailto__item,
  .phone__item {
    width: 16px;
    height: 12px;
    cursor: pointer;
    margin-right: 10px;
  }
  .agency--main::after {
    position: absolute;
    top: 76px;
    display: block;
    content: "";
    width: 53px;
    height: 4px;
    background: var(--secondary-color);
    border-radius: 2px;
  }
  .portfolio--main::after {
    position: absolute;
    top: 76px;
    display: block;
    content: "";
    width: 58px;
    height: 4px;
    background: var(--secondary-color);
    border-radius: 2px;
  }
}
@media screen and (min-width: 1200px) {
  .header .logo {
    padding: 24px 0 25px 0;
    margin-right: 93px;
    align-items: center;
  }
  .navigation__list {
    display: flex;
    align-items: center;
  }
  .navigation__item {
    padding-top: -25px;
    padding-bottom: -25px;
  }
  .navigation__item:not(:last-child) {
    margin-right: 46px;
  }
  .header-contact {
    display: flex;
  }
  .header .mailto {
    margin-right: 50px;
  }
  .mailto,
  .phone {
    font-size: 14px;
    line-height: 1.143;
  }
}
.hero {
  background-color: var(--quaternary-color);
}

.hero__header {
  padding-top: 118px;
  padding-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 365px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--tertiary-color);
}

.hero .modal-btn {
  margin-left: 125px;
  margin-bottom: 118px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--tertiary-color);
  cursor: pointer;
  background-color: var(--secondary-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 41px 10px 42px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .hero {
    background-color: var(--quaternary-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-image_mobile.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 480px 400px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px) and (max-width: 767px), screen and (min-resolution: 192dpi) and (min-width: 320px) and (max-width: 767px), screen and (min-resolution: 2dppx) and (min-width: 320px) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-image_mobile@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-image_tablet.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 768px 400px;
  }
  .hero__header {
    width: 365px;
  }
  .hero .modal-btn {
    margin-left: 269px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-image_tablet@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-color: var(--quaternary-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .hero__header {
    padding-top: 200px;
    padding-bottom: 30px;
    width: 652px;
    font-size: 44px;
    line-height: 1.364;
  }
  .hero .modal-btn {
    margin-left: 485px;
    margin-bottom: 200px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-image@2x.jpg);
  }
}
.our-strengths__list {
  display: block;
}

.our-strengths__icon {
  width: 450px;
  height: 120px;
  background-color: var(--senary-color);
  border-radius: 4px;
}

.our-strengths .secondary-header {
  color: var(--main-color);
}

.our-strengths__text {
  width: 450px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--septenary-color);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .our-strengths__icon {
    padding: 25px 192px;
    margin-bottom: 30px;
  }
  .our-strengths .secondary-header {
    padding-bottom: 10px;
    padding-top: 0;
  }
}
.our-strengths__item:not(:last-child) {
  margin-bottom: 30px;
}

.our-strengths .secondary-header {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .our-strengths__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  .our-strengths__icon {
    width: 354px;
    padding: 25px 144px;
  }
  .our-strengths__icon:not(:last-child) {
    margin-bottom: 30px;
  }
  .our-strengths .secondary-header {
    text-align: left;
    margin-bottom: 10px;
  }
  .our-strengths__text {
    width: 354px;
  }
  .our-strengths__item {
    margin: 15px;
    flex-basis: calc(50% - 60px);
  }
}
@media screen and (min-width: 1200px) {
  .our-strengths__list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }
  .our-strengths__item {
    flex-basis: auto;
  }
  .our-strengths__item:not(:last-child) {
    margin-right: 30px;
  }
  .our-strengths__icon {
    width: 270px;
    padding: 25px 102px;
    margin-bottom: 55px;
  }
  .our-strengths__text {
    width: 270px;
  }
}
.what-we-do .main-header {
  display: none;
}

.what-we-do__list {
  display: none;
}

@media screen and (min-width: 1200px) {
  .what-we-do .main-header {
    display: flex;
    margin-left: 424px;
    margin-bottom: 50px;
  }
  .what-we-do__list {
    display: flex;
  }
  .what-we-do__item {
    position: relative;
  }
  .what-we-do__item:not(:last-child) {
    margin-right: 30px;
  }
  .what-we-do .secondary-header {
    width: 370px;
    height: 70px;
    text-align: center;
    text-transform: uppercase;
    background: rgba(47, 48, 58, 0.8);
    color: var(--tertiary-color);
    padding-top: 25px;
  }
  .what-we-do__item > .secondary-header {
    position: absolute;
    top: 224px;
  }
}
.our-team {
  display: block;
  background: var(--senary-color);
}

.our-team__list {
  display: block;
}

.our-team__item {
  background: var(--tertiary-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
  margin-top: 15px;
}

.our-team__name {
  font-weight: 500;
  color: var(--main-color);
  padding-top: 30px;
  padding-bottom: 10px;
}

.our-team__job {
  font-weight: 400;
  color: var(--septenary-color);
}

.our-team__name,
.our-team__job {
  font-size: 16px;
  line-height: 1.888;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .our-team__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  .our-team__item {
    margin-left: 15px;
    margin-right: 15px;
    flex-basis: 25%;
  }
}
@media screen and (min-width: 1200px) {
  .our-team__list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
  .our-team {
    margin-top: 94px;
  }
}
.our-customers__list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.our-customers__item {
  margin: 15px;
  flex-basis: calc(50% - 60px);
  border: 1px solid var(--nonary-color);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 16px 50px;
  fill: var(--nonary-color);
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.our-customers__item:hover, .our-customers__item:focus {
  fill: var(--secondary-color);
}

.our-customers__icon {
  width: 106px;
  height: 60px;
}

@media screen and (min-width: 768px) {
  .our-customers__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: 15px;
  }
  .our-customers__item {
    flex-basis: calc(33.3333333333% - 60px);
  }
  .our-customers__icon {
    width: 106px;
    height: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .our-customers__list {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 0;
    justify-content: center;
  }
  .our-customers__item {
    margin: 0px;
    border: 1px solid var(--nonary-color);
    flex-basis: auto;
    padding: 16px 32px;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 16px 32px;
    fill: var(--nonary-color);
    cursor: pointer;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .our-customers__item:hover, .our-customers__item:focus {
    fill: var(--secondary-color);
  }
  .our-customers__item:not(:last-child) {
    margin-right: 30px;
  }
  .our-customers__icon {
    width: 106px;
    height: 60px;
  }
}
.footer {
  background-color: var(--quaternary-color);
}

.footer .container {
  display: block;
  text-align: center;
}

.address__home {
  color: var(--tertiary-color);
}

.logo--dark-theme {
  padding-bottom: 20px;
}

.address__mailto,
.address__phone {
  color: rgba(255, 255, 255, 0.6);
}

.address__home,
.address__mailto,
.address__phone {
  padding-bottom: 9px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address__home:hover, .address__home:focus,
.address__mailto:hover,
.address__mailto:focus,
.address__phone:hover,
.address__phone:focus {
  color: var(--secondary-color);
}

.middle-side > .secondary-header,
.right-side > .secondary-header {
  padding-top: 60px;
  padding-bottom: 20px;
}

.join-us__list {
  display: flex;
  justify-content: center;
}

.join-us__item {
  display: block;
}
.join-us__item:not(:last-child) {
  margin-right: 10px;
}

.join-us__link {
  display: flex;
  width: 44px;
  height: 44px;
  fill: var(--tertiary-color);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.join-us__link:hover, .join-us__link:focus {
  fill: var(--tertiary-color);
  background-color: var(--secondary-color);
}

.singup__list {
  display: block;
}

.singup__item:not(:last-child) {
  margin-right: 12px;
}

.singup__email {
  width: 450px;
  height: 50px;
  margin-left: 0;
  margin-right: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  padding-left: 16px;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.singup__email:focus {
  outline: none;
  border-color: var(--secondary-color);
}

.singup__item .modal-btn {
  display: flex;
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.singup__icon {
  width: 24px;
  height: 24px;
  margin-left: 24px;
}

@media screen and (min-width: 768px) {
  .footer .container {
    display: block;
    align-items: center;
  }
  .left-side {
    margin-left: 61px;
    margin-right: 144px;
  }
  .address-box {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
  .middle-side {
    display: block;
    margin-right: 78px;
  }
  .middle-side > .secondary-header,
  .right-side > .secondary-header {
    padding-top: 0px;
  }
  .right-side {
    padding-top: 60px;
  }
  .singup__list {
    display: block;
  }
  .singup__item {
    justify-content: center;
  }
  .singup__item:not(:last-child) {
    margin-right: 12px;
  }
  .singup__email {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    background-color: var(--quaternary-color);
  }
  .footer .container {
    display: flex;
    text-align: left;
    align-items: baseline;
  }
  .left-side {
    margin-left: 0;
    margin-right: 70px;
  }
  .address__home {
    color: var(--tertiary-color);
  }
  .logo--dark-theme {
    padding-bottom: 20px;
  }
  .address__mailto,
  .address__phone {
    color: rgba(255, 255, 255, 0.6);
  }
  .address__home,
  .address__mailto,
  .address__phone {
    padding-bottom: 9px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address__home:hover, .address__home:focus,
  .address__mailto:hover,
  .address__mailto:focus,
  .address__phone:hover,
  .address__phone:focus {
    color: var(--secondary-color);
  }
  .middle-side {
    display: block;
    margin-right: 78px;
  }
  .middle-side > .secondary-header,
  .right-side > .secondary-header {
    padding-bottom: 20px;
  }
  .join-us__list {
    display: flex;
  }
  .join-us__item {
    display: flex;
  }
  .join-us__item:not(:last-child) {
    margin-right: 10px;
  }
  .join-us__link {
    display: flex;
    width: 44px;
    height: 44px;
    fill: var(--tertiary-color);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .join-us__link:hover, .join-us__link:focus {
    fill: var(--tertiary-color);
    background-color: var(--secondary-color);
  }
  .right-side {
    padding-top: 0;
  }
  .singup__list {
    display: flex;
  }
  .singup__item:not(:last-child) {
    margin-right: 12px;
  }
  .singup__email {
    width: 358px;
    height: 50px;
    display: flex;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    padding-left: 16px;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: transparent;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .singup__email:focus {
    outline: none;
    border-color: var(--secondary-color);
  }
  .singup__item .modal-btn {
    display: flex;
    width: 200px;
    height: 50px;
    padding-left: 42px;
    margin-top: 0;
  }
  .singup__icon {
    width: 24px;
    height: 24px;
    margin-left: 24px;
  }
}/*# sourceMappingURL=main.css.map */