.our-customers__list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
  
.our-customers__item {
  margin: 15px;
  flex-basis: calc(100% / 2 - 60px);
  border: 1px solid var(--nonary-color);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 16px 50px;
  fill: var(--nonary-color);
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--secondary-color);
  }
}
  
.our-customers__icon {
  width: 106px;
  height: 60px;
}

@media screen and (min-width: 768px) {
  .our-customers__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: 15px;
  }
    
  .our-customers__item {
    flex-basis: calc(100% / 3 - 60px);
    }
    
  .our-customers__icon {
    width: 106px;
    height: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .our-customers__list {
  display: flex;
  flex-wrap: nowrap;
  margin-left: 0;
  justify-content: center;
}
  
.our-customers__item {
  margin: 0px;
  border: 1px solid var(--nonary-color);
  flex-basis: auto;
  padding: 16px 32px;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 16px 32px;
  fill: var(--nonary-color);
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--secondary-color);
  }

  &:not(:last-child) {
    margin-right: 30px;
  }
}
  
.our-customers__icon {
  width: 106px;
  height: 60px;
  }
}
