.button__list {
  display: flex;
  padding-bottom: 30px;
  justify-content: flex-start;
  flex-wrap: wrap;
}
  
.button__item {
  margin-bottom: 15px;

  &:hover,
  &:focus {
    color: var(--secondary-color);
  }

  &:not(:last-child) {
    margin-right: 8px;
  }
}

@media screen and (min-width: 768px) {
  .button__list {
    padding-bottom: 50px;
    justify-content: center;
    flex-wrap: nowrap;
  }
}