.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
 

  &__span {
    color: var(--secondary-color);
  }

  &--light-theme {
    color: var(--main-color);
    background-color: var(--tertiary-color);
  }

  &--dark-theme {
    color: var(--tertiary-color);
    background-color: var(--quaternary-color);
  }
}

@media screen and (min-width: 380px)and (max-width: 767px) {}
  .logo {
    margin-top: 15px;
    margin-bottom: 15px
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 83px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    margin-top: 24px;
    margin-bottom: 24px;
    margin-right: 93px;
  }
}
