.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  padding-top: 16px;
  padding-bottom: 16px;
 
  &__span {
    color: var(--secondary-color);
  }

  &--light-theme {
    color: var(--main-color);
    background-color: var(--tertiary-color);
  }

  &--dark-theme {
    color: var(--tertiary-color);
    background-color: var(--quaternary-color);
  }
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 83px;
    
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.192;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: 215px;
    margin-right: 93px;
  }
}
