.container {
  width: 100%;
  padding: 0 15px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .container {
  width: 480px;
  align-items: center;
  }
}

@media screen and (min-width:768px) {
  .container {
    min-width: 768px;
    align-items: center;
    // border: 5px solid black;
  }
}

@media screen and (min-width:1200px) {
  .container {
    min-width: 1200px;
    align-items: center;
    margin: 0 auto;
  }
}