.container {
  width: 100%;
  padding: 0 15px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .container {
  width: 480px;
  align-items: center;
  }

  &__header .logo {
    padding-top: 16px;
    padding-bottom: 16px
  }

  &__hero {

  }
}

@media screen and (min-width:768px) {
  .container {
    width: 768px;
    justify-content: center;
  }
}

@media screen and (min-width:1200px) {
  .container {
    width: 1200px;
    align-items: center;
  }

  &__header .logo {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  &__our-strength {
    
  }
}

//   .hero & {
//     display: block;
//     align-items: center;
//   }

//   .our-customers & {
//     display: block;
//   }

//   .our-strength & {
//     display: inline;
//   }

//   .what-we-do {
//     display: block;
//   }
// }