.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
  width: 480px;
  }
}

@media screen and (min-width:768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width:1200px) {
  .container {
    width: 1200px;
    align-items: center;
  }
}


// .container {
//   width: 1200px;
//   padding: 0 15px;
//   align-items: center;
//   margin: 0 auto;

//   .header & {
//     display: flex;
//     align-items: center;
//     padding-top: 24px;
//     padding-bottom: 23px;
//   }

//   .hero & {
//     display: block;
//     align-items: center;
//   }

//   .our-customers & {
//     display: block;
//   }

//   .our-strength & {
//     display: inline;
//   }

//   .what-we-do {
//     display: block;
//   }
// }